{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <a href="{% url 'cart' %}"class="btn btn-primary"type="button">Back</a>
    </div>
    <div class="col">
        
        <a href="{% url 'checkout' %}"class="btn btn-success"type="button">Proceed</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-4">
        <h6> Total :{{ total }}</h6>
    </div>
    <div class="col col-md-4">
        <h6> Items :{{ Qty }}</h6>
    </div>
</div>
{% for order in my_orders %}
<div class="row" style="width:80%; margin-left:20px;margin-top:10px;">
    <div class="col col-md-4" style="margin-top:10px;">
        <div class="card"style="width:18rem;height:15rem; background: #f6f6eb;">
            <div class="card-body">
                <h5 class="card-title" >
                    {{ order.product.name }}
                </h5>
                
                <strong> Price: {{ order.price }}</strong>
                <strong> Qty : {{ order.Qty }}</strong>
                
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}