{% extends 'base.html' %}
{% block content %}
<strong> Your Cart </strong>

<div class="row">
    <div class="col col-md-4">
        {% if my_items %}
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger"type="submit"name="action"value="remove-all">
                Clear Cart
            </button>
        </form>
        {% endif %}
    </div>
    <div class="col col-md-4">
    <a href="{% url 'home' %}" class="btn btn-primary" type="button">Add Items</a>
    </div>
    <div class="col col-md-4">
        {% if my_items %}
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-dark"type="submit"name="action"value="checkout">
                Checkout
            </button>
        </form>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col col-md-4">
        <h6> Total :{{ total }}</h6>
    </div>
    <div class="col col-md-4">
        <h6> Items :{{ Qty }}</h6>
    </div>
</div>
{% for item in my_items %}
<div class="row" style="width:80%; margin-left:20px;margin-top:10px;">
    <div class="col col-md-4" style="margin-top:10px;">
        <div class="card"style="width:18rem;height:15rem; background: #f6f6eb;">
            <div class="card-body">
                <h5 class="card-title" ><a href="{% url 'product-detail' item.product.id %}">
                    {{ item.product.name }}</a>
                </h5>
                {% if item.product.available %}
                <h6 class="card-subtitle text-muted"> In Stock </h6>
                {% else %}
                <h6 class="card-subtitle text-muted"> Out of Stock </h6>
                {% endif %}
                <strong> Price: {{ item.price }}</strong>
                <strong> Qty : {{ item.Qty }}</strong>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-dark"type="submit"name="action"value="remove-item">
                        Remove Item
                    </button>
                    <input type="hidden"name="item_id"value="{{ item.id }}">
                    {% if Qty > 1 %}
                    <button class="btn btn-dark"type="submit"name="action"value="decrease">
                        -
                    </button>
                    {% endif %}
                    <button class="btn btn-dark"type="submit"name="action"value="increase">
                        +
                    </button>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}