{% extends 'base.html' %}
{% block content %}

<div class="row" style="width:80%; margin-left:20px;margin-top:10px;">
    {% for product in page_obj %}
    <div class="col col-md-4" style="margin-top:10px;">
        <div class="card" background: #f6f6eb;">
            <img src="{{ product.photo.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" ><a href="{% url 'product-detail' product.id %}">
                    {{ product.name }}</a>
                </h5>
                {% if product.available %}
                <h6 class="card-subtitle text-muted"> In Stock </h6>
                {% else %}
                <h6 class="card-subtitle text-muted"> Out of Stock </h6>
                {% endif %}
                <p class="card-text">{{ product.description }} </p>
                <strong> Amount: Rs {{ product.amount }}</strong>
                <!-- <form method="post">
                    {% csrf_token %}
                    {% comment %}
               
                    {% endcomment %}
                        <strong>
                             Qty:{{ form.Qty }}   
                        </strong>
                        <input type="hidden" value="{{ product.id }}" name="prod_id">

                    <button class='btn btn-primary' 
                    type="submit" name="action" value="item"> Cart </button>
                    <button class='btn btn-primary'
                    type="submit" name="acion"
                    value="order">Buy</button>
                </form> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}