{% extends 'base.html' %}
{% block content %}
<div class="card"style="width:18rem;height:20rem; background: #f6f6eb;">
    <div class="card-body">
        <h5 class="card-title">
            {{ object.name }}
        </h5>
        {% if object.available %}
        <h6 class="card-subtitle text-muted"> In Stock </h6>
        {% else %}
        <h6 class="card-subtitle text-muted"> Out of Stock </h6>
        {% endif %}
        <p class="card-text">{{ object.description }} </p>
        <strong> Amount: Rs {{ object.amount }}</strong>
        <a href="#" class="btn btn-primary">Cart</a>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>

{% endblock %}