{% extends 'base.html' %}
{% block content %}
<div style="display:flex; justify-content:center;width:auto;">
<div style="width: fit-content;"class="card" background: #f6f6eb;">
    <div class="card-body">
        <img style="object-fit: contain;"src="{{ object.photo.url }}"/>
        <h5 class="card-title">
            {{ object.name }}
        </h5>
        {% if object.available %}
        <h6 class="card-subtitle text-muted"> In Stock </h6>
        {% else %}
        <h6 class="card-subtitle text-muted"> Out of Stock </h6>
        {% endif %}
        <p class="card-text">{{ object.description }} </p>
        <strong> Amount: Rs {{ object.amount }}</strong>
        <form method="post">
            {% csrf_token %}
           
                <strong>
                     Qty:{{ form.Qty }}   
                </strong>
                <input type="hidden" value="{{ product.id }}" name="prod_id">

            <button class='btn btn-primary' 
            type="submit" name="action" value="item"> Cart </button>
            <button class='btn btn-primary'
            type="submit" name="action"
            value="order">Buy</button>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}